<h1>Submissions</h1>

  <% @submissions.each do |submission| %>
    <dl>
      <dt>
        <%= link_to submission.link %> <br>
        <%= link_to 'Description and Comments', submission_path(submission.id) %>
      </dt>
        <dd> Upvotes: <%= submission.votes.where(direction: true).count%>  Downvotes: <%= submission.   votes.where(direction: false).count%>
        </dd>
    </dl>
  <% end %>


<%= link_to "New Submission", new_submission_path %>
