<h1>Submissions</h1>

  <% @submissions.each do |submission| %>
    <dl>
      <dt>
        <a href="<%= submission.link %>"><%= submission.link %></a> <br>
        <%= link_to 'Description and Comments', submission_path(submission.id) %> submitted by <%= submission.user.email %>
      </dt>
        <dd> <%= pluralize(submission.comments.count, 'comment') %>    <%= pluralize(submission.vote_count, 'point') %>
        </dd>
    </dl>
  <% end %>


<%= link_to "New Submission", new_submission_path %>
