<h3>Link: <%= @submission.link %></h3>
  <h4>Description: <%= @submission.description %></h4>
    <p> Rate this submission:
      <%= link_to "Up Vote", submission_upvote_path(@submission.id), method: 'post'  %>
      <%= link_to "Down Vote", submission_downvote_path(@submission.id), method: 'post' %><br>
      <%= pluralize(@submission.vote_count, 'point') %>
    </p>

    <h4>Comments:</h4>
       <p><%= link_to "New Comment", new_submission_comment_path(@submission.id) %></p>
          <% @comments.each do |comment| %>
            <ul class="comment-list">
              <li id="comments"><%= comment.body %> submitted by: <%= comment.user.email %><br>
                <%= link_to "Up Vote", submission_comment_upvote_path(comment.submission_id, comment.id), method: 'post' %>
                <%= link_to "Down Vote", submission_comment_downvote_path(comment.submission_id, comment.id), method: 'post' %> <br>
                  <%= pluralize(comment.vote_count, 'point') %>
            </ul>
          <% end %>

